@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.video-layout {
    display: block;
    &__main {
        flex: 3;
}
&__divider{
    display:none;
   
}
}
    @media screen and (min-width: 1280px) {
    .video-layout {
      display: flex;
      justify-content: space-between;
      height: 100%;
      &__main {
        flex: 3; 
        flex-shrink: 0;

      }
      &__sidebar {
        flex: 1; 
        display: block; 
      }
      &__divider{
        display: block;
        width: 1px;
        background-color: $mercury;
        margin: 0 0.5rem;
        height:auto;
        margin:0;
    }
      }
    }

  
  