
@mixin tablet {
    @media(min-width: 768px) and (max-width:1279px) {
        @content;
      }
    }
    @mixin desktop {
      @media  (min-width: 1280px) {
        @content;
      }
    }
    @mixin mobile {
      @media (max-width: 767px) {
        @content;
      }
    }   
   @mixin divider-style($width){
    margin: 0 auto;
    height: 1px;
    background-color: #E1E1E1;;
   } 