
$brainflix-black: #323232;
$brainFlix-Blue: #0095FF;
$silver:#AFAFAF;
$white:#ffff;


//secondary
$brainFlix-DarkBlack: #000000;
$brainFlix-DarkBlue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$borderRadius:4px;
$marginLeft:16px;
$marginRight:16px;