@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typograghy" as *;

* {
    font-family: "Avenir Next Pro Lt", sans-serif;
}

.video-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-right: $marginRight;

    &__main {
        width: 100%;
        margin: auto;
    }

    &__divider {
        @include divider-style(80vw);

        &:nth-child(3) {
            display: none;

            @include tablet {
                display: block;
                width: 100%;
            }

            @include desktop {
                display: block;
                margin-left: 80px;
                margin-right: 80px;
            
            }
        }


    }

    &__title {
        font-size: 1.5rem;
        color: $brainflix-black;
        margin-top: 24px;
        text-align: left;

        @include tablet {
            margin-top: 36px;
            font-size: 2rem;
        }

        @include desktop {
            margin-top: 36px;
            margin-left: 80px;
            font-size: 2rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;

        @include desktop {
           display:block;
            margin-bottom: 24px;
        }
    }

    .video-upload__inputs{
        @include desktop {
            display:flex;
            justify-content: space-between;
        }
        .video-upload__thumbnail-section {
        width: 100%;

        @include desktop {
            width: 29% !important;
            margin-left: 80px;

        }

        .video-upload__thumbnail__title {
            font-size: 1rem;
            color: $silver;
            margin-bottom: 0.5rem;
            font-weight: 700;

            @include tablet {
                margin-top: 36px;
            }

            @include desktop {
                margin-top: 36px;
                width: 50%;
            }
        }

        .video-upload__thumbnail {
           // background-image: url("../../Assets/Images/Upload-video-preview.jpg");
            height: 46vh;
            width: 89vw;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 4px;

            @include tablet {
                width: 100%;
                background-size: contain;

            }

            @include desktop {
                width: 100%;
                height: 70%;
            }
        }
    }

    .video-upload__section {
        @include desktop {
            display: flex;
            flex-direction: column;
            width: 56%;
            margin-top: 22px;
            margin-right: 80px;
        }

        .video-upload__field {
            margin-right: 16px;

            .video__title {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
                color: $mercury;
                margin-top: 1rem;

                @include tablet {
                    margin-top: 2rem;
                }
            }

            input,
            textarea {
                width: 96%;
                padding: 10px;
                border: 1px solid $mercury;
                border-radius: 4px;
                font-size: 14px;
                line-height: 1.5;

                @include desktop {
                    height: auto;
                }
            }

            .video__description {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
                color: $mercury;
                margin-top: 1rem;

                @include tablet {
                    margin-top: 2rem;
                }
            }

            textarea {
                height: 41%;
                resize: vertical;
            }
        }
    }
    }
    .video-upload__buttons {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 25px;

        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
            margin-bottom: 18px;

        }

        @include desktop {
            flex-direction: row;
            justify-content: flex-end;
            margin-bottom: 18px;

        }

        .video-upload__publish-btn1 {
            @include common-button-styles;
            background-image: url(../../Assets/Icons/publish.svg);
            margin-top: 1rem;
            color: $white;

            @include tablet {
                display: none;
            }

            @include desktop {
                display: none;

            }
        }

        .video-upload__publish-btn {
            display: none;

            @include tablet {
                @include common-button-styles;
                background-image: url(../../Assets/Icons/publish.svg);
                display: block;
                width: 25%;
                color: $white;
            }

            @include desktop {
                @include common-button-styles;
                background-image: url(../../Assets/Icons/publish.svg);
                display: block;
                width: 25%;
                color: $white;
                margin-right: 80px;
            }
        }

        .video-upload__cancel-btn {
            margin-top: 1rem;
            padding: 12px;
            border: none;
            background-color: $white;
            color: $brainFlix-Blue;
            font-weight: bold;
            width: 100%;

            @include tablet {
                width: 25%;
            }

            @include desktop {
                width: 25%;
            }
        }
    }
}

#root > div > section > main > form > div.video-upload__divider {
    display: none;

    @include tablet {
        display: block;
        margin-top: 24px;
    }

    @include desktop {
        display: block;
        margin-top: 24px;
        margin-right: 80px;
        margin-left: 80px;
    }
}