@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typograghy" as *;

.default-comments {
    &__block {
        display: flex;
        @include desktop{
           margin-left:7%;
        }
    }

    &__avatar {
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 16px;
        background-color: $mercury;
        justify-content: center;
        align-items: center;
        margin-left: $marginLeft;

    }

    &__details {
        width: 82%;
        margin-left: $marginLeft;
    }

    &__name-and-date {
        display: flex;
        justify-content: space-between;
    }

    &__name {
        font-weight: bold;
        color: $brainflix-black;

    }

    &__date {
        font-style: italic;
        color: $silver;
        font-size: 0.85em;
        margin-right: $marginRight;
        margin-top: 18px;
    }

    &__divider {
    margin: 0 auto;
    height: 1px;
    background-color: #E1E1E1;;
        margin-right: 1rem;
        @include desktop{
            margin-right: 0;
            margin-left: 80px
          }
    }

    &__text {
        margin-top: 0;
        margin-right: $marginRight;
        font-size: 1rem;
        color: $brainflix-black;
        line-height: 18px;
    }


}

